.env
notas.txt

prosody/*
!prosody/*template*
!prosody/mod_*.lua
!prosody/Dockerfile

slidge/*
!slidge/*template*
!slidge/types.py

spectrum2/*
!spectrum2/*template*

tools/*
!tools/*.py
!tools/requirements.txt