export XMPP_DOMAIN="*******"
export XMPP_UPLOAD="upload.${XMPP_DOMAIN}"
export MAIN_PASSWORD="*******"
export XMPP_ADMIN_NAME="admin"
export XMPP_ADMIN="${XMPP_ADMIN_NAME}@${XMPP_DOMAIN}"
export XMPP_ADMIN_PASSWORD="$MAIN_PASSWORD"
export SLIDGE_COMPONENT_SECRET="$MAIN_PASSWORD"
export XMPP_CRT="/var/lib/caddy/.local/share/caddy/certificates/acme-v02.api.letsencrypt.org-directory/${XMPP_DOMAIN}/${XMPP_DOMAIN}.crt"
export XMPP_KEY="/var/lib/caddy/.local/share/caddy/certificates/acme-v02.api.letsencrypt.org-directory/${XMPP_DOMAIN}/${XMPP_DOMAIN}.key"

export TELEGRAM_COMPONENT_JID="telegram.${XMPP_DOMAIN}"
export TG_API_ID="*******"
export TG_API_HASH="*******"

export WHATSAPP_COMPONENT_JID="whatsapp.${XMPP_DOMAIN}"

export STEAM_COMPONENT_JID="steam.${XMPP_DOMAIN}"

export GOOGLE_COMPONENT_JID="google.${XMPP_DOMAIN}"